:root {
  --primary-background: linear-gradient(0deg, #1a2d62 20%, #7368CD 100%);
  --foreground-color: rgba(255, 255, 255, 0.9);
  --accent-color: rgba(0, 238, 255, 0.445);
  --selected-color: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: 'Space Grotesk Variable', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-background);
  color: var(--foreground-color);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

