.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  min-height: 100vh;
  color: var(--foreground-color);
  max-width: 75vw;
}

.client_selector_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.client_selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 75vw;
}

.client_info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.client_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--foreground-color);
  text-transform: capitalize;
}

.value {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--foreground-color);
  text-transform: capitalize;
}

.value_price {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  font-family: var(--font-family);
  font-variant-numeric: tabular-nums;
  color: var(--foreground-color);
  text-transform: capitalize;
}

.graph_and_estimate_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  border-radius: 12px;
  gap: 1.5rem;
}

.graph_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  height: 400px;
  border-radius: 12px;
  order: 1;
}

.estimate_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 50%;
  height: 400px;
  border-radius: 12px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  order: 2;
}

/* Customize the scrollbar track */
.estimate_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Customize the scrollbar thumb */
.estimate_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Customize the scrollbar thumb on hover */
.estimate_container::-webkit-scrollbar-thumb:hover {
  background-color: var(--selected-color);
}

/* Customize the scrollbar corner (optional) */
.estimate_container::-webkit-scrollbar-corner {
  background-color: transparent;
}


@media screen and (max-width: 1300px) {
  .graph_and_estimate_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 95vw;
  }

  .graph_container {
    width: 100%;
  }

  .estimate_container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .client_selector_container {
    gap: 2rem;
  }

  .client_selector {
    max-width: 90vw;
    gap: .5rem;
  }

  .client_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .graph_and_estimate_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .graph_container {
    width: 100%;
    order: 2;
  }

  .estimate_container {
    min-width: 100%;
    order: 1;
  }

  .label {
    font-size: 14px;
  }

  .value {
    font-size: 16px;
  }

  .value_price {
    font-size: 16px;
  }
}